= form_for [current_user, @nom] do |f|
  = f.text_field :name, placeholder: "Nom name", class: "span12"
  = f.select :category, options_for_select(Nom::CATEGORY, @nom.category), {prompt: "Nom category"}, {class: "span12"}
  = f.text_area :description, placeholder: "Nom description", rows: "5", class: "span12 only_vertical"
  = f.text_area :ingredients, placeholder: "Ingredients", rows: "5", class: "span12 only_vertical"
  = f.text_area :steps, placeholder: "Steps", rows: "5", class: "span12 only_vertical"
  = f.submit "Post", class: "btn btn-primary"